html, body{
	font-family: 'Lato', sans-serif;
	background-color: #eee;
	height: 100%;
	margin: 0;
}


#header{
	position: fixed;
	z-index: +1;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
}

#header-img{
	width: 30%;
}

#nav-bar{
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	height: 100%;
	width: 70%;
}

.nav-link{
	display: flex;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	background-color: black;
}

.nav-link p{
	white-space: nowrap;
	color: white;
}

main{
	position: relative;
	top: 10%;
}

#title{
	text-align: center;
}

#email{
	display: block;
	margin: 10px auto 10px auto;
	width: 250px;
	height: 25px;
	padding: 2px 2px 2px 2px;
}

#submit{
	display: block;
	margin: 10px auto 10px auto;
	width: 100px;
	height: 25px;
}

#Features{
	width: 60%;
	margin: 5% auto 0 auto;
}

.dterm{
	margin-bottom: 0;
}

.ddefination{
	margin-top: 0;
	margin-bottom: 8%;
}

#video{
	display: block;
	margin: 0 auto 5% auto;
	max-width: 600px;
	width: 90%;
}

#Pricing{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 auto 5% auto;
	width: 90%;
	max-width: 1000px;
}

.Product{
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	width: 30%;
	max-width: 300px;
	height: 300px;
}

.product_name{
	margin: 0;
	font-weight: bold;
	padding: 15px 0;
	background-color: #ddd;
}

.product_amount{
	margin: 0;
	padding: 20px 0;
	font-size: 25px;
	font-weight: bolder;
}

.product_desc p{
	margin-top: 0;
}

.Product input{
	display: block;
	margin: 0 auto;
	border: none;
	background-color: yellow;
	width: 100px;
	height: 25px;
}

footer{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	border-width: 1px;
	border-style: solid;
	height: 15%;
	text-align: right;
	background-color: #ccc;
}

footer a{
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}
footer p{
	padding: 10px;
}


@media only screen and (max-width: 800px) {
	.Product{
		width: 90%;
		max-width: 300px;
		height: 300px;
	}

}